.container {
    display: flex;
    background-color: grey;
    flex-direction:row;
    height: 100px;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;



}

.item {
    box-sizing: border-box;
    border: 5px solid black;
    text-align: center;
    background-color: red;
}