
div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  background-color: thistle;
  
}

header {
  background-color: aquamarine;
  grid-column: span 2;
  height: 100px;
 
  

}

main {
  background-color: blueviolet;
  height: 200px;

  
}

aside {
  background-color: coral;
  height: 200px;

}

footer {
  background-color: yellowgreen;
  grid-column: span 2;
  height: 100px;

}